@{
    ViewData["Title"] = "Home Page";
}

<div class="usa-grid" style="padding-top: 2em;padding-bottom: 2em;">
    <div class="usa-width-two-thirds">
        <h3>
            <span class="fa-stack fa-2x" style="font-size: 1em;">
                <i class="fas fa-circle fa-stack-2x" style="color: #02bfe7;"></i>
                <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            What’s new
        </h3>
        <ul>
            <li><span class="usa-label ">New</span> Welcome to the General Services Administration Financial Management. The mission of GSA is to deliver the best value in real estate, acquisition, and technology services to government and the American people.</li>
            <li>7/24/2018 - SIFT reporting data is online.</li>
            <li>
                4/20/2017 - 
                Interested in Electronic Invoicing options with GSA?   Please contact one of our customer support offices for more information.
            </li>
        </ul>
    </div>
    <div class="usa-width-one-third">
        <h3>
            <span class="fa-stack fa-2x" style="font-size: 1em;">
                <i class="fas fa-circle fa-stack-2x" style="color: #cd2026;"></i>
                <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
            </span>
            Getting started
        </h3>
        <p>
            Learn how to get started using the FM IT reports. 
        </p>
        <p>
            <a class="usa-nav-link" href="javascript:void(0)">
                Take the first step
                </a>
        </p>
    </div>
</div>
