@{
    ViewData["Title"] = "Home Page";
}

<div class="usa-grid">
    <div class="usa-width-two-thirds">
        <h3>News</h3>
        <p>Welcome to the General Services Administration Financial Management. The mission of GSA is to deliver the best value in real estate, acquisition, and technology services to government and the American people.</p>
    </div>
    <div class="usa-width-one-third">
        <h3>Contact Info.</h3>
        <p>
            Ask questions or suggest improvements by sending an email to:

            Email: OCFOServiceDesk@gsa.gov

            Phone: 1-866-450-6588
        </p>
    </div>
</div>
