@{
    ViewData["Title"] = "Home Page - Logged In";
}

<div class="text-center">
    <h1 class="display-4">You're Logged In!</h1>
    @if (Context.User.IsInRole("COREADMIN"))
    { 
        <p>You have the ADMIN role.</p>
    }
    else
    {
        <p>You have the USER role.</p>
    }
</div>

